<html>
<head>
    <title>Search</title>
</head>
<body>
    
   
<form action="/search/" method="get">
ENTER THE BOOK TO SEARCH <input type="text" name="q">
<input type="submit" value="Search">
</form>

<form action="/latest/" method="get">
ENTER THE AUTHOR TO KNOW ITS LATEST BOOKS
<input type="text" name="firstname">
<input type="text" name="secondname">
<input type="submit" value="Search">
</form>

<form action="/latest1/" method="get">
CLICK HERE TO KNOW THE LATEST BOOKS
<input type="submit" value="Search">
</form>

<form action="/rate/" method="get">
Enter the book you want to rate
<input type="text" name="rate1">
Enter the rating of book
<input type="text" name="rate2">
<input type="submit" value="Submit">
</form>

<form action="/popular/" method="get">
Click here to know the popular books
<input type="submit" value="Submit">
</form>

</body>
</html>